<main>
	<div class="blue"></div>
	<div class="orange"></div>
	<div class="blue"></div>
	<div class="orange"></div>
	<div class="blue"></div>
	<div class="orange"></div>
	<div class="blue"></div>
	<div class="orange"></div>
	<div class="blue"></div>
	<div class="orange"></div>
    <button id="button" class="button"><img src="/svg/top-button.svg" alt="go top"></button>
</main>