main {
	padding: 50px;
}

.blue, .orange {
	height: 400px;
	width: 100%;
	border-radius: 20px;
	margin-bottom: 40px;
}

.blue {
	background-color: skyblue;
}

.orange {
	background-color: orange;
}

.button {
	display: none;
	position: fixed;
	bottom: 50px;
	left: 50px;
	border-radius: 50px;
	padding: 24px;
	background-color: #FF7241;
	transition: opacity 0.5s, transform 0.3s, background-color 0.5s;

	&:hover {
		background-color: #d8410f;
	}

	&:active {
		opacity: 1;
		transform: scale(0.95);
		background-color: #ac350e;
	}
}