@use '../../style' as s;

main {
} 

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: s.space(10);
	padding: s.space(4) s.space(10);
	background-color: #35363A;
	border-radius: 50px;

	.url-field {
		background-color: #202124;
		border-radius: 50px;
		color: #fff;
		padding: s.space(4) s.space(10);
		font-size: 32px;
		width: 100%;
	}

	.button {
		transition-property: opacity, transform;
		transition-duration: 0.3s;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}

		&:active {
			transform: scale(0.95);
		}
	}
}